body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    Font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    margin-top: 40px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 700px;
}

.upper {
    margin-top: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    padding: 0;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text p {
    margin-top: -10px;
}

.userArea {
    height: 100px;
}

.userArea input {
    width: 350px;
    height: 30px;
    border: 0.1px solid rgba(128, 128, 128, 0.342);
    border-radius: 25px;
    padding: 5px 0 5px 20px;
    outline: 0;
}

.userArea button {
    height: 45px;
    width: 125px;
    border: 0;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(to right, #4D7BF3, #4D7BF3);
    cursor: pointer;
}

button:hover {           
    box-shadow: 0 0 20px #907bec;
}

.lower img {
    height: 325px;
    width: 90%;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.social {
    margin-right: 10px;
    width: 35px;
    border-radius: 100%;
    border: 0.2px solid rgba(128, 128, 128, 0.11);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover {
    transition: 0.3s;
    background-color: #4D7BF3;
}

.copyright {
    font-size: 10px;
}

/*Class that handles the error message created on JS*/

.failInput {
    color: red;
    display: flex;
    margin-left: 125px;
    font-size: 13px;
}


/*Mobile-first*/

@media (max-width: 375px){
    .text {
        margin-top: -275px;
    }
    
    h1 {
      font-size: 20px;
      margin-top: 70px;
      padding-bottom: 10px;  
    }

    p {
        font-size: 12px;
    }

    .upper {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .userArea {
        margin-top: 20px;
    }

    .userArea input {
        width: 300px;
    }

    .userArea button {
        margin-top: 45px;
        width: 320px;
    }

    .failInput {
        margin-top: -80px;
        margin-left: 80px;
        font-size: 12px;
    }

    .lower img {
        height: auto;
        margin-bottom: 50px;
    }
}
